# Credenciais do Google (NÃO VERSIONAR)
credentials.json
token.json

# Arquivos de configuração local
.env
local_settings.py
# Arquivo de variáveis de ambiente
.env
__pycache__/
*.pdf
logs/
.DS_Store
.venv/
venv/
